<section id="alerts" class="section" style="padding-top: 24px; padding-bottom: 24px;">
  <div class="notification is-warning">
    Guccicoin Web Wallet is <strong>currently in beta</strong>, there is no guarentee of safety when using this wallet.
    We recommend that you only put a small amount of your coins in this web wallet and keep a secure backup of
    <a href="/wallet/export">your keys</a>. If you find any bugs please report them!
  </div>
  <div class="notification is-info">
    We are currently having some stability issues with the backend service. If the page takes a while to load, you might
    have to stop it loading then refresh.
  </div>
</section>